main section fieldset.accueil 
{
    height: 100px;
    width: 1000px;
    border-collapse: collapse;
    transition: 1s;
}

main section fieldset.accueil h4
{
    color:gray;
    transition: 1s;
}

body
{
    background-color: #ffe97a;
}

main section img
{
    margin-top: 20px;
    height: auto;
    width: 900px;
    color: gray;
}

main section div.redirect a 
{
	display:block;
    justify-content: space-between;
    width: 60%;
}

main section div.redirect a 
{
	text-decoration: none;
    text-align: center;
    font-size: 18px;
	font-weight: 700;
	color: black;
	padding: 2%;
	transition: 1s;
	border: transparent solid;
    border-radius: 20px;
    width: 25%;
    height: 100%;
}

main section div.redirect a:hover
{
	border: black solid;
	transition: 0.5s;
    border-radius: 20px;
}

main section div.redirect a#focus-page
{
	border: black solid;
	transition: 0.5s;
    border-radius: 20px;
}

@media only screen and (min-width: 800px) and (max-width: 966px)
{
    main section img {
        width: 100%;
        max-width: 966px;
        min-width: 800px;
    }
    main section fieldset.accueil{
        width: 100%;
        max-width: 966px;
        min-width: 800px;
        height: auto;
    }
}

@media only screen and (min-width: 321px) and (max-width: 799px)
{
    main section img {
        width: 100%;
        max-width: 799px;
        min-width: 321px;
    }
    main section fieldset.accueil{
        width: 100%;
        max-width: 799px;
        min-width: 321px;
        height: auto;
    }
}

@media only screen and (max-width: 320px)
{
    main section img 
    {
        width: 100%;
        max-width: 320px;
        min-width: none;
    }
    main section fieldset.accueil
    {
        width: 100%;
        max-width: 320px;
        min-width: none;
        height: auto;
    }
}
 
