*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #ffe97a; */
    background-color: white;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px;
    position:relative;
}
.slider img {
    max-width: 100%;
    display: none;
}

@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.prec, .suiv {
  cursor: pointer;
  position: absolute;
  color: black;
  font-size: 50px;
  top: 45%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.prec{ left: 15px; }
.suiv { right: 15px; }

.fiche {
    display: flex;
    margin-left: 5%;
    margin-right: 10%;
    flex-wrap: wrap;
}

.detail {
    max-width: 700px;
    margin: 0 auto;
}

.boutons {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;

}

button {
    border: none;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 18px;

}

#bouton1 {
    color: white;
    width: 300px;
    background-color: #000;
    
}

#bouton2 {
    color: white;
    width: 300px;
    /* recherche d'une meilleure méthode */
    background-color: blue;
}

button:hover, a:hover {
    opacity: 0.7;
}

.texte{
    display:flex;
    flex-wrap: wrap;
}

.box{
    display: flex;
    width: 200px;
    border: 5px solid black;
    justify-content: space-between;
}

img.active {
    display: block;
    animation: fade 0.8s;
    width: 500px;
    height: 500px;
}

@media only screen and (min-width: 0px) and (max-width: 391px){

    .boutons{
        flex-direction: row;
    }

    .boutons p{
        display: flex;
        justify-content: center;

    }

}



@media only screen and (min-width: 391px) and (max-width: 700px){


}

@media only screen and (min-width: 391px) and (max-width: 1920){



}