body {
    /* background-color: #ffe97a; */
    background-color: white;
}

.fiche {
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
}

.detail {
    max-width: 700px;
}

.box{
    display: flex;
    width: 200px;
    border: 5px solid black;
    justify-content: space-between;
}

#Skate_IUT {
    width: 500px;
    height: 500px;
}

.boutons {
    display: flex;
}

button {
    border: none;
    /* outline: 0; */
    /* display: inline-block; */
    padding: 15px;
    color: black;
    text-align: center;
    /* cursor: pointer; */
    /* width: 100%; */
    font-size: 18px;
}

#bouton1 {
    color: white;
    width: 300px;
    background-color: #000;
}

#bouton2 {
    color: white;
    width: 300px;
    margin-left: 30%;
    background-color: blue;
}

button:hover, a:hover {
    opacity: 0.7;
}