body
{
    background-color: #ffe97a;
}

.content{
  display: flex;
  flex-direction: column;
}

.top{
  background-color: #bb6d43;
  text-align: center;
  /*border: solid pink;*/
}

.left{
  width: 20%;
  /*border: 2px solid blue;*/

}

.checkbox{
  /*border: 2px solid black;*/
  flex-direction: column;
  display: flex;
}

.right{
  margin: auto;
  
}
.bottom{
  display: flex;
  flex-direction: row;
}

.contenair {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; 
  /*border: 2px solid black;*/
  width: 1200px;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.checkbox{
  font-size: large;
  font:'Fira Sans', sans-serif;
  margin: auto;
}

.filtre{
  font: 1rem 'Fira Sans', sans-serif;
  width: 50%;
  /*border: 2px solid purple;*/
  margin: auto;
  flex-direction: column;
}

.titre{
  text-decoration: underline;
  text-underline-position: auto;
}

/*CSS de la card du produit */
.skate {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #93441A;
  }

main section div.skate img
{
    width: 300px;
    height: 300px;
}

main section div.skate p {
    color: white;
}
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
/*Fin du CSS pour le produit */

